<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:shiro="http://www.thymeleaf.org/thymeleaf-extras-shiro">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<h1>首页</h1>
<div th:text="${msg}"></div>
<hr>
<a th:href="@{/index}">首页</a>
<!--
    有登录的人时不显示 方式一：<div shiro:guest="true">
    方式二： 使用 subject中的 session
 -->
<div th:if="${session.loginUser==null}">
    <a th:href="@{/toLogin}">登录</a>
</div>
<hr>

<div shiro:haspermission="user:add">
    <a th:href="@{/user/add}">add</a>
</div>


<div shiro:haspermission="user:update">
    <a th:href="@{/user/update}">update</a>
</div>
</body>
</html>